.default-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em;
    padding-top: 3.5em;
    width: 100%;
    /* margin-top: 2em; */
}

.menu-layout {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .menu-layout {
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; */
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 0em 7.8em;
        /* width: 100%; */
    }
    
}