* {
    background-color: #3C3C3B;
}


/* table {
    width: 500px;
    border-collapse: collapse;
    border: 2px solid white;
}

tr {
    border: 2px solid white;
    border-top: 2px solid white;
}
    
td {
    padding: 9px 8px;
    border: 1px solid black;
    text-align: left;
    transition: .3s linear;
} */
