body {
  background-color: #3c3c3b;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway'),
    url(../fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}

.BarLogoName {
  /* height: 200px; */
  width: 200px;
}

.Menu {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

/* .ButtonMenu {
    color: yellow;
    background-color: violet;
    border-color: green;
} */

/* table {
    width: 500px;
    border-collapse: collapse;
    border: 2px solid white;
}

tr {
    border: 2px solid white;
    border-top: 2px solid white;
}
    
td {
    padding: 9px 8px;
    border: 1px solid black;
    text-align: left;
    transition: .3s linear;
} */
