html, body {
  overflow-x: hidden;
}
body {
  background-color: #3c3c3b;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: default;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway'),
    url(../fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  src: local('Urbanist'),
    url(../fonts/Urbanist/Urbanist-VariableFont_wght.ttf) format('truetype');
}

.App {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 1.25em;
}

.LogoCircle {
  opacity: 0.25;
  /* overflow-x: clip; */
  position: absolute;
  /* position: absolute; */
  /* object-fit: cover; */
  /* max-width: 100%; */
  /* width: 150%; */
  height: 50em;
  /* width: 50vh; */
  /* height: 50em; */
  /* left: -14em;
  top: -1em; */
  top: -4.5em;
  left: -5em;
  /* float: right; */
  z-index: -10;
}

.BarLogoName {
  /* position: absolute; */
  width: 15em;
  height: 13em;
  /* left: -350em;
  top: 25em; */
  margin-left: 1.5em;
  z-index: 2;
}

.BeerListImage {
  width: 5.063em;
  height: 5.125em;
}

.BeerImage {
  width: 9.188em;
  height: 10.813em;
}

.Menu {
  /* position: absolute; */
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 7em;
}

/* .Menu div { */
  /* margin: auto;
  text-align: center; */
  /* align-self:flex-end;
  width: 100%;
  float:inherit;
  text-align: center; */
/* } */

.BeerListBox {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  padding: 1.5em;
  gap: 1.25em;

  /* position: absolute; */
  width: 22.875em;
  height: 6.5em;
  left: 0.75em;
  top: 10em;

  border-radius: 2em;
}

.BeerShortDescBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0em;
  gap: 0.5em;

  width: 13.563em;
  height: 4.063em;

  flex: none;
  order: 1;
  flex-grow: 1;
}

.BeerShortDesc {
  width: 13.563em;
  height: 1.063em;
  margin: 0em;

  /* font-family: 'Raleway'; */
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  line-height: 140%;

  letter-spacing: 0.025em;

  color: #757575;

  text-shadow: 0em 0.25em 0.25em rgba(0, 0, 0, 0.25);

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.BeerItemBoxFull {
  display: flex;
  flex-direction: column;
  /* padding: 0 2em; */
  /* justify-content: center; */
  align-items: center;
}

.BeerItemBox {
  box-sizing: border-box;
  /* width: 100%; */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5em;
  padding-top: 0em;
  padding-right: 2.5em;
  gap: 1.25em;

  /* position: absolute; */
  /* width: 22.875; */
  /* height: 15.625em; */
  /* left: 0.75em;
  top: 7.938em;

  border-radius: 2em; */
}

.BeerItemShortDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0em;
  gap: 0.5em;

  /* width: 9.438em; */
  /* height: 9.188em; */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.BeerItemName {
  /* width: 9.438em; */
  /* height: 5.5em; */

  /* font-family: 'Raleway'; */
  font-family: 'Urbanist';
  font-weight: 500;
  font-size: 1.35em;
  line-height: 140%;

  letter-spacing: 0.025em;

  color: #D75C36;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.BeerItemShortDescText {
  /* width: 9.438em; */
  /* height: 2.625em; */

  /* font-family: 'Raleway'; */
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  font-size: 0.938em;
  line-height: 140%;

  letter-spacing: 0.025em;

  color: #757575;

  text-shadow: 0em 0.25em 0.25em rgba(0, 0, 0, 0.25);

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.BeerDescText {
  width: 19.125em;
  /* height: 9.625em; */
  margin: 0 2em;

  /* font-family: 'Raleway'; */
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  /* line-height: 140%; */
  line-height: 1.4em;

  text-align: justify;
  letter-spacing: 0.025em;

  color: #EDEDED;

  /* flex: none;
  order: 0;
  flex-grow: 0; */
}

.PriceDiv {
  display: flex;
  flex-direction: row;
  /* text-align: right; */
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.Price {
  /* position: absolute; */
  /* width: 4em; */
  /* width: 100%; */
  /* text-align: right; */
  /* height: 2em; */
  /* left: 17.75em;
  top: 32.313em; */
  /* float: right; */
  margin: 0;
  margin-bottom: 0.5em;
  margin-right: 1.5em;

  /* font-family: 'Raleway'; */
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  font-size: 1.563em;
  line-height: 140%;
  /* or 35px */

  text-align: justify;
  letter-spacing: 0.025em;

  color: #D75C36;

}

.MuiTableContainer-root.css-rorn0c-MuiTableContainer-root {
  width: 82.5%;
  margin: 1.25em;
  margin-top: 0em;
  /* border-collapse: none; */
}

/* table.MuiTable-root{ 
  width: 85%;
  margin: 1.25em;
  margin-top: 0em;
} */

/* td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1reyrvb-MuiTableCell-root {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 0.938em;
  line-height: 1.25em; */
  /* or 133% */

  /* display: flex;
  align-items: center; */
  /* letter-spacing: -0.015em; */
  /* font-feature-settings: 'tnum' on, 'lnum' on; */

  /* color: #EDEDED;
} */

/* td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1w694cj-MuiTableCell-root {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 0.813em;
  line-height: 1.125em; */
  /* identical to box height, or 138% */
  /* padding: 1em; */

  /* display: flex;
  align-items: center; */
  /* letter-spacing: -0.005em;

  color: #EDEDED;
} */

td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium {
  /* font-family: 'Raleway'; */
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  font-size: 0.938em;
  line-height: 1.25em;
  letter-spacing: 0.025em;
  color: #EDEDED;
  border-bottom: 0.063em solid rgba(117, 117, 117, 1);
  /* border-top: none; */
}

tr.MuiTableRow-root:last-child td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium {
  border-bottom: 0;
}


/* td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  font-size: 0.813em;
  line-height: 1.125em;
  letter-spacing: -0.005em;
  color: #EDEDED;
  border-bottom: 0.063em solid rgba(117, 117, 117, 1);
} */

span.MuiButton-startIcon.MuiButton-iconSizeMedium {
  margin-right: 0;
}

button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root {
  background-color: rgba(25, 118, 210, 0.0);
}

button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root:hover {
  color: #757575;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
  font-size: 1.25em;
  stroke: #EDEDED;
  stroke-width: 1;
}

button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root:hover svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
  stroke: #757575;
}

/* .ButtonMenu {
  background-color: #D75C36;
  border-radius: 100px;
  margin: 18px 16px;
  width: 295px;
  height: 50px;
  gap: 10px;
  box-shadow: 4px 8px 24px rgba(16, 16, 16, 0.25);
  color: #EDEDED;
  font-family: Raleway;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-transform: none;
  border: 0;
} */

/* .ButtonMenu {
    color: yellow;
    background-color: violet;
    border-color: green;
} */

/* table {
    width: 500px;
    border-collapse: collapse;
    border: 2px solid white;
}

tr {
    border: 2px solid white;
    border-top: 2px solid white;
}
    
td {
    padding: 9px 8px;
    border: 1px solid black;
    text-align: left;
    transition: .3s linear;
} */

/* ------------------ Media queries ------------------ */

/* tablet */
/* start: 768? */
@media (min-width: 765px) and (max-width: 1023px) {
  html {
    height: 100%;
  }
  .LogoCircle {
    opacity: 0.25;
    position: absolute;
    height: 90em;
    top: -15em;
    left: -5em;
    z-index: -10;
  }
  .BarLogoName {
    width: 18em;
    height: 16em;
    margin-left: 5em;
    z-index: 2;
  }
  .BeerListBox {
    gap: 2em;
    width: 31em;
    height: 12.5em;
  }
  .BeerShortDescBox {
    padding: 0em;
    gap: 0.5em;
    width: 14em;
    height: 10em;
  }
  .BeerShortDesc {
    font-size: 1.35em;
  }
  .BeerListImage {
    width: 10em;
    height: 10em;
  }
  .BeerImage {
    width: 12em;
    height: 9em;
  }
  .BeerItemName {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: -0.25em;
    /* letter-spacing: 0.025em; */
  }
  .BeerItemShortDescText {
    font-size: 1.5em;
    /* line-height: 140%; */
    /* letter-spacing: 0.025em; */
  }
  .BeerDescText {
    width: 20.5em;
    /* margin-top: 0.5em; */
    margin: 0.5em 2em;
    font-size: 1.5em;
    /* letter-spacing: 0.025em; */
  }
  .Price {
    margin-bottom: 0.2em;
    margin-right: 1.75em;
    font-size: 2em;
    /* letter-spacing: 0.025em; */
  }
  .MuiTableContainer-root.css-rorn0c-MuiTableContainer-root {
    width: 85%;
    /* margin: 1.25em; */
  }
  td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium {
    font-size: 1.15em;
    /* line-height: 1.25em; */
    /* letter-spacing: 0.025em; */
  }
}

/* desktop */
@media (min-width: 1024px) {
  html {
    height: 100%;
  } 
  #root {
    height: 100%;
  }
  .App {
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
    /* overflow-y: hidden; */
    overflow: hidden;
    /* overflow-x: hidden; */
  }
  /* .App::-webkit-scrollbar {
      display: none;
  } */
  .LogoCircle {
    opacity: 0.25;
    position: absolute;
    height: 65em;
    top: -12em;
    left: 25em;
    z-index: -10;
  }
  .Menu{
    margin-top: 0em;
  }
  .BarLogoName {
    width: 18em;
    height: 16em;
    margin-left: 12em;
    margin-top: -1em;
  }
  .BeerListBox {
    gap: 0em;
    /* width: 31em;
    height: 12.5em; */
  }
  .BeerShortDescBox {
    padding: 0em;
    gap: 0.5em;
    /* width: 14em;
    height: 10em; */
  }
  .BeerShortDesc {
    font-size: 0.9em;
  }
  .BeerListImage {
    width: 7em;
    height: 7em;
  }
  .BeerItemBox {
    width: 65em;
  }
  .BeerImage {
    width: 5em;
    height: 5em;
  }
  .BeerItemName {
    font-size: 1.6em;
    margin-top: 0.5em;
    margin-bottom: -0.25em;
    /* letter-spacing: 0.025em; */
  }
  .BeerItemShortDescText {
    font-size: 1.2em;
    /* line-height: 140%; */
    /* letter-spacing: 0.025em; */
  }
  .BeerDescText {
    width: 40em;
    /* margin-top: 0.5em; */
    margin: 0.5em 2em;
    font-size: 1.5em;
    margin-bottom: 2em;
    /* letter-spacing: 0.025em; */
  }
  .Price {
    position: absolute;
    top: 7em;
    left: 31.5em;
    /* margin-bottom: 0.2em;
    margin-right: 1.75em; */
    font-size: 2em;
    /* letter-spacing: 0.025em; */
  }
  .MuiTableContainer-root.css-rorn0c-MuiTableContainer-root {
    width: 90.5%;
    /* margin: 1.25em; */
  }
  td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium {
    font-size: 1.15em;
    /* line-height: 1.25em; */
    /* letter-spacing: 0.025em; */
  }
}